
.container {
    border: 3px solid green;
}
.row {
    border: 3px solid red;
}
.col {
    border: 3px dotted blue;
}

.quoteBox {
    height: 100%;
}

.honey {
  opacity:1!important;
  mix-blend-mode: multiply;
}

.container {

    height: 90vh;
}

#heroH1 {
    color: blue;
    text-align: center;
    font-weight: 900;
}

#heroH2 {
    color: red;
    text-align: center;
    font-weight: 50;
}

.center {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}