/* ALL PAGES */
body {
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    height: 90vh;
    padding: 10%;
}

.fadeIn {
    opacity: 0%;
}

.leftLine {
    border-style: none none none solid;
    border-color: black;
    border-width: 2px;
}

.center {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* INDEX */
#heroH1 {
    text-align: left;
    font-weight: 700;
}

#heroH2 {
    text-align: left;
    font-weight: 100;
    font-size: 300%;
}

#heroContainer {
    margin-left: 25%;
    /*
    border-style: none none none solid;
    border-color: black;
    */
}

#heroContainer:only-child {
    padding: 10px;
}


/* ORDERS */
.honey {
  opacity:1!important;
  mix-blend-mode: multiply;
}


/* QUOTES */
.quoteBox {
    height: 100%;
}

#quote {
    text-align: right;
    font-family: 'Brush Script MT';
    font-size: 150%;
}

#quoteAuthor {
    color: #4e5a65;
}

#quoteAuthor:link {
    text-decoration: none;
}

#quoteAuthor:visited {
    text-decoration: none;
}

#quoteAuthor:hover {
    text-decoration: underline;
}

#quoteAuthor:active {
    text-decoration: underline;
}


/* TEST STYLE FOR BOOTSTRAP CONTAINERS, ROWS AND COLUMNS */
/*
.container {
    border: 3px solid green;
}
.row {
    border: 3px solid red;
}
.col {
    border: 3px dotted blue;
}
*/